.homepage {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255, 255, 255); /* Default text color */
}

.header {
    padding: 20px;
    margin-right: 80px;
}

.content {
    text-align: center;
    margin-top: auto;
    margin-bottom: 230px;
    color: rgb(255, 255, 255); /* Default text color within content */
    text-shadow: 2px 2px 8px rgba(133, 56, 141, 0.7); /* Add shadow for better visibility */
    margin-left: 20px;
    margin-right: 700px;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: rgb(255, 105, 180); /* Example RGB color for the main heading */
}

.order-now-button {
    font-size: 18px;
    padding: 10px 20px;
    color: rgb(253, 253, 253); /* Text color inside the button */
    background-color: transparent; /* Make the background transparent */
    border: 2px solid rgb(255, 255, 255); /* Border with RGB color */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex; /* To align image and text horizontally */
    align-items: center; /* Vertically center the image and text */
    justify-content: center; /* Center the image and text */
    margin-left: 320px;
}

.order-now-button img.order-icon {
    margin-right: 10px; /* Space between the image and the text */
    height: 24px; /* Adjust size of the icon */
}

.order-now-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Add slight fill on hover */
    color: rgb(0, 0, 0); /* Change text color on hover */
}
