.login-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: url('../../Images/Login/Loginbackground.jpg'); /* Path to your background image */
  background-size: cover; /* Make sure the image covers the whole area */
  background-position: center; /* Center the image */
  position: relative; /* Required for overlay positioning */
  padding: 0 20px; /* Add some padding to the sides */
}

.login-page::before {
  content: ''; /* Create an empty element for overlay */
  position: absolute; /* Overlay should be positioned absolutely */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Black overlay with 20% opacity */
  z-index: 1; /* Ensure overlay is above the background image but below the content */
}

.login-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  margin-right: 300px;
  position: relative; /* Ensure this is positioned above the overlay */
  z-index: 2;
  margin-right: 100px;
}

.welcome-image {
  width: 40%; /* Adjust width as needed */
  max-width: 300px;
  margin-left: 650px; /* Add some space between the image and the card */
}

.login-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form label {
  margin-bottom: 8px;
  font-weight: bold;
  display: block;
  text-align: left;
  width: 100%;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-button,
.signup-button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.login-button {
  background-color: #31f50e;
}

.login-button:hover {
  background-color: #28a745;
}

.signup-button {
  background-color: #007bff;
}

.signup-button:hover {
  background-color: #0056b3;
}
